---
layout: default.html
title: French Press Recipe
---

<main class="main-container">
    <h1>French Press Coffee Recipe</h1>
    <div class="recipe">
        <div class="recipe-heading">
            <div>            
                <label for="brewedCoffee">Cups of Coffee</label>
            </div>
            <div>
            <input type="number" id="brewedCoffee" min="1" max="8" />
            </div>
        </div>
        <div class="recipe-body">
            <p id="waterAmt" class="espresso">
                0 fl oz water
            </p>
            <p id="coffeeAmt" class="espresso">
                0 tbsp coffee
            </p>
        </div>
    </div>
</main>