---
layout: default.html
title: Drip Coffee Recipe
logo: 'https://d9pl0lig74xnv.cloudfront.net/catalog/product/cache/91e9c011f0ac998e686df01a906b8401/1/0/10938-01_8.jpg'
link: /recipes/drip
---

<main class="main-container">
    <h1>Drip Coffee Recipe</h1>
    <div class="recipe">
        <div class="recipe-heading">
            <div>            
                <label for="brewedCoffee">Cups of Coffee</label>
            </div>
            <div>
            <input type="number" id="brewedCoffee" min="1" max="8" />
            </div>
        </div>
        <div class="recipe-body">
            <p id="waterAmt" class="espresso">
                0 fl oz water
            </p>
            <p id="coffeeAmt" class="espresso">
                0 tbsp coffee
            </p>
        </div>
    </div>
</main>