---
layout: default.html
title: French Press Recipe
logo: 'https://www.oxo.com/media/catalog/product/cache/0896d24226ba929ed2cdc43dc64054aa/b/0/b00yeykk8u_8710100v2_9_cup_coffee_maker_-_wirecutter_1.jpg'
link: /recipes/frenchpress
---

<main class="main-container">
    <h1>French Press Coffee Recipe</h1>
    <div class="recipe">
        <div class="recipe-heading">
            <div>            
                <label for="brewedCoffee">Cups of Coffee</label>
            </div>
            <div>
            <input type="number" id="brewedCoffee" min="1" max="6" />
            </div>
        </div>
        <div class="recipe-body">
            <p id="waterAmt" class="espresso">
                0 fl oz water
            </p>
            <p id="coffeeAmt" class="espresso">
                0 tbsp coffee
            </p>
        </div>
    </div>
</main>