---
layout: default.html
title: Blog
---

<article>
  <div class="main-container">
    <h1>Blog Posts</h1>
    <div class="card-container">
      {%- for post in collections.posts -%}
      <div class="card">
        <div class="card-heading">
          <h2>{{ post.data.title }}</h2>
        </div>
        <div class="card-body">
          <p>{{post.date | date: "%B %d, %Y"}}</p>
          <p>{{ post.data.tagline }}</p>
        </div>
        <div class="card-footer">
          <a class="espresso" href="{{ post.url }}">Read More</a>
        </div>
      </div>
      {%- endfor -%}
    </div>
  </div>
</article>
