---
layout: default.html
title: Brands
---
<main>
  <div class="main-container">
    <h1>Coffee Brands I Enjoy</h1>
    <div class="card-container">
        {%- for brand in collections.brands -%}
        <div class="card">
          <div class="card-heading">
            <h2>{{brand.data.name}}</h2>
          </div>
          <div class="card-body">
          <div class="image-container width-50 aspect-ratio-1-1">
            <img src="{{brand.data.logo}}" alt="brand logo">
          </div>
          </div>
          <div class="card-footer">
            <a class="espresso" href="{{brand.data.website}}">Website</a>
          </div>
        </div>
        {%- endfor -%}
    </div>
  </div>
</main>