---
layout: default.html
title: Tom's Coffee Blog
---
<main class="container has-text-centered">
    <h1 class="is-size-1">Tom's Coffee Blog</h1>
    <p class="is-size-5">
        I'm not a barista, but I will go out of my way for a good cup of coffee.
    </p>
    <div class="block"></div>
    <figure class="image is-16by9">
        <img src="https://raw.githubusercontent.com/slandath/images/main/coffee/beans.jpeg" width="968px" height="544px"/>
    </figure>
</main>
<div class="block"></div>