---
layout: default.html
title: Recipes
---
<main>
  <div class="main-container">
    <h1>Coffee Recipes</h1>
    <div class="card-container">
        {%- for recipe in collections.recipes -%}
        <div class="card">
          <div class="card-heading">
            <h2>{{recipe.data.title}}</h2>
          </div>
          <div class="card-body">
          <div class="image-container width-60 aspect-ratio-1-1">
            <img src="{{recipe.data.logo}}" alt="brand logo">
          </div>
          </div>
          <div class="card-footer">
            <a class="espresso" href="{{recipe.data.link}}">Link</a>
          </div>
        </div>
        {%- endfor -%}
    </div>
  </div>
</main>