---
layout: default.html
---
<main class="container has-text-centered">
    <h1 class="is-size-1 has-text-centered">Shops</h1>
<div class="container">
    <div class="columns py-4">
        {%- for shop in collections.shops -%}
          <div class="column is-one-quarter">
            <div class="card p-4">
              <div class="card-image">
                <figure class="image">
                  <img src="{{shop.data.logo}}" alt="logo" height="100px" width="100px" />
                </figure>
              </div>
              <header>
                <p class="card-header-title is-centered py-2">
                  {{shop.data.name}}
                </p>
              </header>
              <div class="card-content has-text-centered py-1">
                <p class="mb-3">{{ shop.data.location }}</p>
                <a
                  href="{{shop.url}}"
                  class="button is-info"
                >
                  Read More
                </a>
              </div>
            </div>
          </div>
        {%- endfor -%}
    </div>
  </div>
</main>