---
layout: blogPost.html
date: 2024-01-09
title: Lucky Lab Coffee
name: Lucky Lab Coffee
location: Austin, TX
description: Best Coffee in Austin
logo: https://raw.githubusercontent.com/slandath/images/refs/heads/main/coffee/luckylab200.png
website: /shops/lab
---

<h1>Lucky Lab Coffee</h1>
<p>This awesome spot is just off of Guadalupe, about a mile from the University of Texas.  When I was in Austin for work trips, I would wake up early to walk to Lucky Lab and get coffee before my morning sessions.  Sitting on their patio with my coffee was the perfect way to start the day.</p>
<h2>Location Info</h2>
<p>2421 San Antonio St, Austin, TX 78705</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1722.60826893666!2d-97.74368261895106!3d30.287896592213098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b5780be05b2b%3A0x4486f4e3f6b320b1!2sLucky%20Lab%20Coffee%20Co.!5e0!3m2!1sen!2sus!4v1704852096185!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<h2>Website</h2>
<p><a href="https://luckylabcoffee.com/">Lucky Lab Coffee</a></p>
