---
layout: blogPost.html
date: 2024-01-09
title: Madcap Coffee
name: Madcap Coffee
location: Grand Rapids, MI
description: My Annual Ritual
logo: /assets/madcap200.png
website: /shops/madcap
---

<h1>Madcap Coffee</h1>
<p>While working for an HR services company, every year I attended the annual MISHRM Conference, which was held at DeVos Place in Grand Rapids.  Around the corner from DeVos Place was an awesome coffee shop named Madcap Coffee.  While everyone else was standing in line at Starbucks in the hotel lobby, I would sneak out to Madcap, grab a pourover, and answer my morning emails.  </p>
<h2>Location Info</h2>
<p>98 Monroe Center St NW, Grand Rapids, MI 49503</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d11678.467580681383!2d-85.68905442953107!3d42.96527712122623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smadcap%20coffee%20grand%20rapids!5e0!3m2!1sen!2sus!4v1704851879485!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<h2>Website</h2>
<p><a href="https://www.madcapcoffee.com/">Madcap Coffee</a></p>

