---
layout: blogPost.html
title: New Theme
date: 2025-02-11
tagline: Goodbye Bulma!  Hello Vanilla CSS!
---

<p>Goodbye Bulma!  Hello Vanilla CSS!</p>

<p>Instead of bumping versions of Bulma, I decided to take the plunge and write all of the CSS for the site.  </p>

<p>The first big change are the colors!  I'm not sold on these being the final colors, but I like direction of browns and creams.</p>

<p>The next few commits will focus on the mobile view, specifically the navbar and a hamburger menu.</p>