---
layout: blogPost.html
title: Eleventy
date: 2025-01-31
tagline: Oh brother, the gaps between these blog entries are enormous.
---

<p>Oh brother, the gaps between these blog entries are enormous.  For 2025, I'll shoot for an update per quarter, instead of once per year.</p>

<p>The initial version of this site was built using Astro.  It was a bit overkill, but I was interested in the framework and wanted to check it out.  Now that I have a vision for what this project is (and more importantly - is not), I decided to move it 11ty (pronounced "Eleventy").  I have also moved the hosting from Railway to Vercel.</p>

<p>In the coming weeks, I have the following updates planned:</p>

<ol>
    <li>Fix the drip coffee and french press recipe pages</li>
    <li>Update to Bulma v1.0.2</li>
    <li>Migrate from NodeJS to Deno</li>
</ol>