---
layout: blogPost.html
title: Bulma
date: 2024-01-27
tagline: After a break, I'm back to give this site a little TLC.
---
<p>After a break to work on some other projects, I&#39;m back to give this site a little TLC.</p>
<h2>New Stuff</h2>
<p>-Brands page<br>-Logos with brands<br>-Logos with shops<br>-Tweaks to element padding<br>-New footer</p>