---
layout: blogPost.html
title: Site Update
date: 2024-01-07
---
<p>After a break to work on some other projects, I&#39;m back to give this site a little TLC.</p>
<h2 id="new-stuff">New Stuff</h2>
<p>-Brands page<br>-Logos with brands<br>-Logos with shops<br>-Tweaks to element padding<br>-New footer</p>