---
layout: blogPost.html
title: New Recipes Available
date: 2023-10-27
tagline: The recipe tools are live!
---
<p>The recipe tools are live!  To start there are:</p>
<ul>
<li>Drip Coffee Maker</li>
<li>French Press</li>
</ul>
<p>More will added in the future - enjoy!</p>