---
layout: blogPost.html
title: Welcome
date: 2023-10-11
---
<p>Hello and welcome to my coffee site! Let&#39;s discuss the Three W&#39;s:</p>
<h2>Who?</h2>
<p>My name is Tom! I&#39;m a project manager, web developer and coffee enjoyer.</p>
<h2>What?</h2>
<p>This is my coffee site! This will be my online repository for:</p>
<ul>
<li>Coffee brands I enjoy</li>
<li>Coffee shops I&#39;ve visited</li>
<li>Coffee equipment and gadgets I use</li>
<li>Coffee-related resources I stumble across</li>
</ul>
<p>A few things this site will not contain:</p>
<ul>
<li>Reviews</li>
<li>Tasting notes</li>
<li>Equipment testing</li>
</ul>
<h2>Why?</h2>
<p>Ah yes - the million dollar question. There are a few reasons:</p>
<ul>
<li>I like coffee<ul>
<li>I&#39;ve never worked as a barista and I do not consider myself a coffee &quot;expert&quot; in any way. However, I am a daily coffee drinker and I love the ritual and culture around coffee.</li>
</ul>
</li>
<li>Archiving<ul>
<li>I&#39;ve accumulated lots of coffee knowledge over the years and I&#39;d like a place to write it all down, before it leaves my head.</li>
</ul>
</li>
<li>It&#39;s a fun side project<ul>
<li>In web development, I&#39;m always looking for a reason to try a new framework or start a new side project. I had a little coffee-to-water ratio calculator web app that I didn&#39;t know what to do with, so I decided to expand it, and here we are!</li>
</ul>
</li>
</ul>
<h2>Thank you!</h2>
<p>Thank you for stopping by! Take care!</p>
